html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Baloo 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url(bg.jpg) center center/cover no-repeat;
    background-size: 100% 100vh;
    background-color: black;
}

.left {
    display: flex;
    border: 2px solid black;
    position: absolute;
    left: 30px;
    top: 10px;
    text-align: center;
}

.left img {
    width: 110px;
}

.mid {
    /* border-radius: 30px; */
    display: flex;
    justify-content: center;
    margin: 5px auto;
    width: 70%;
    /* border: 2px solid white; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
}

.navbar li {
    list-style: none;
    font-size: 20px;
    margin: 2px auto;
    /* text-shadow: 2px 2px grey; */
}

.navbar li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px 40px;
}

.navbar li a:hover {
    color: gray;
    text-decoration: none;
    padding: 5px 40px;
}

.right {
    position: absolute;
    right: 15px;
    top: 25px;
    display: flex;
    /* border: 2px solid black; */
}

.right input {
    border: 2px solid black;
    border-radius: 35px;
    padding: 5px 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* border: 2px solid green; */
    margin: 95px 30px;
    padding: 5px 12px;
    width: 33%;
    border-radius: 15px;
}

.formgroup input {
    text-align: center;
    font-family: 'Baloo 2', cursive;
    color: black;
    margin: 10px auto;
    padding: 5px 5px;
    display: block;
    width: 380px;
    border-radius: 5px;
    font-size: 15px;
}

.btn {
    margin: auto;
    padding: 5px 25px;
    display: block;
    border: 2px solid white;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.btn:hover {
    color: grey;
    border: 2px solid grey;
    cursor: pointer;
}